/* @import url('https://fonts.googleapis.com/css2?family=Martel:wght@600&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url("Assests/images/2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    height: 70vh;
    background-size: max(1200px, 100vw);
    position: relative;
}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.44;
    background-color: black;
    position: absolute;
    top: 0;

}

nav {
    display: flex;
    max-width: 60vw;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    height: 100px;
}

nav img {
    width: 130px;
    color: red;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    /* font-family: 'Martel', serif; */
    font-family: 'Poppins', sans-serif;
    gap: 29px;
    padding: 0 30px;
    position: relative;
    z-index: 10;
}

.hero> :first-child {
    font-weight: bolder;
    font-size: 40px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.hero> :nth-child(3) {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.seperation {
    background-color: rgb(59, 59, 59);
    height: 7px;
}

.btn {
    font-family: 'Poppins', sans-serif;
    color: white;
    padding: 3px 8px;
    font-weight: 400;
    background-color: rgba(253, 253, 253, 0.023);
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
}

.btn-red {
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
}

.btn-red-sm {
    background-color: red;
    color: white;
}


.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}


.main input {
    padding: 7px 101px 8px 14px;
    font-size: 12px;
    border-radius: 4px;
    font-weight: 900;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(252, 251, 251, 0.5);
}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    align-items: center;
}


.secimg img {
    width: 401px;
    position: relative;
    z-index: 30;
}

.secimg {
    position: relative;

}

.secimg video {
    position: absolute;
    top: 51px;
    right: 0;
    width: 401px;
}

section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;

}

.first>div :first-child {
    font-size: 48px;
    font-weight: bolder;
}

.first>div :nth-child(2) {
    font-size: 24px;
    font-weight: bolder;
}

.faq h2 {
    text-align: center;
    font-size: 48px;
}

.faq {
    background: black;
    color: white;
    padding: 34px;
    font-size: 24px;
}

.faqbox {
    color: white;
    display: flex;
    transition: all 1s ease-out;
    background-color: rgba(45, 45, 45, 1);
    padding: 24px;
    max-width: 60vw;
    margin: 34px auto;
    justify-content: space-between;
    cursor: pointer;
}

.faqbox:hover {
    color: white;
    background-color: rgb(65, 65, 65, 1);

}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;

}

@media screen and (max-width: 1300px) {
    .first {
        flex-wrap: wrap;
    }

    .secimg img {
        width: 305px;
        position: relative;
        z-index: 30;
    }

    .secimg video {
        position: absolute;
        top: 51px;
        right: 0;
        width: 305px;
    }

    .hero> :first-child {

        font-size: 32px;

    }

    .hero> :nth-child(2) {
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }

    nav{
        max-width: 90vw;
    }

   

    .faq h2{
        text-align: center;
        font-size: 32px;
    }
}

@media screen and (max-width: 1300px) {
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        color: white;
        gap: 25px;
    }
    footer {
        color: white;
        max-width: 90vw;
        margin: auto;
        padding: 14px;
    }

    .footer-item{
        align-items: center;
    }
}



.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 14px;
}

footer .questions {
    padding: 34px 0;


}

.footer a {
    font-size: 14px;
    color: white;
}